/*
Correo   afsalazarh@unadvirtual.edu.co
Skype   a.f.salazar
*/

body {
background-image: url(../img/fondo.jpg);
background-repeat: repeat;
background-size: cover;
}

h1 {
font-family: 'Baloo Bhaina', cursive;
margin-left: 10px;
font-size: 25px;
text-align: center;
}

h2 {
font-family: 'Yatra One', cursive;
margin-left: 10px;
font-size: 20px;
text-align: center;
}

nav {
	margin-left: 100px;
	font-size: 20px;
	text-align: center;
	width: auto;
	height: 60px;
	border-radius: 10px;
}

ul{
margin: auto;
padding-top: 4px;
}

li{
font-family: 'Baloo Bhaina', cursive;
float: left;
list-style-type: none;
padding: 10px;
margin: 3px;
border-radius: 10px;
box-shadow: 0 0 10px white inset;
text-shadow: 0 0 10px white;
}

/*clases*/

.menu:link{text-decoration: none;}
.menu:visited{text-decoration: none;}
.menu:hover{text-decoration: none;}
.menu:active{text-decoration: none;}
